<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of secretariats</title>
    <style>
        table {
            border-collapse: collapse;
            border: 1px black solid;
        }

        table > thead {
            background-color: #dddddd;
        }

        th, td {
            border: 1px gray solid;
            padding: 4px;
        }
    </style>
</head>
<body>
    <h1>Secretariats</h1>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Location</th>
                <th>Opening Hours</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% if secretariats|length > 0 %}
        <tbody>
            {% for secretariat in secretariats %}
                <tr>
                    <td>{{ secretariat.description }}</td>
                    <td>{{ secretariat.location }}</td>
                    <td>{{ secretariat.opening_hours }}</td>
                    <td><a href="/secretariats/{{ secretariat.id }}">Open</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        {% else %}
    </table>
            <p>There are no secretariats.</p>
        {% endif %}
</body>
</html>