
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>showRoom</title>
</head>
<body>

<ul><li> 	<h2>description: Teste </h2>
	<h2>id: 0 </h2>
	<h2>location: Central </h2>
	<h2>name: DSI </h2>
	<h2>opening_hours: 12-13 </h2>
 </li><li> 	<h2>description: É só merda </h2>
	<h2>id: 1 </h2>
	<h2>location: Mecânica </h2>
	<h2>name: Merda </h2>
	<h2>opening_hours: 12:30 </h2>
 </li><li> 	<h2>description: TEste </h2>
	<h2>id: 2 </h2>
	<h2>location: Civil </h2>
	<h2>name: Oh arquitetura </h2>
	<h2>opening_hours: 34 </h2>
 </li><li> 	<h2>description: sffw </h2>
	<h2>id: 3 </h2>
	<h2>location: Teste </h2>
	<h2>name: teste2 </h2>
	<h2>opening_hours: sdfkw </h2>
 </li></ul>
</body>
</html>
